import requests

discord_webhook = 'YOUR_DISCORD_WEBHOOK_URL_HERE'

# GoogleHome設定
google_home_device_name = 'YOUR_GOOGLE_HOME_DEVICE_NAME'  # GoogleHomeのデバイス名
google_home_volume = 0.5  # 音量（0.0～1.0）

def get_session(use_tor=False):
    session = requests.Session()
    if not use_tor:
        session.proxies.update({
            'http': 'socks5h://127.0.0.1:1080',
            'https': 'socks5h://127.0.0.1:1080'
        })
    else:
        session.proxies.update({
            'http': 'socks5h://127.0.0.1:9050',
            'https': 'socks5h://127.0.0.1:9050'
        })
    session.headers.update({
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
    })
    return session
